Package: gittree
Version: 0.1-1
Architecture: all
Maintainer: Danny Love <dannylovehaus@gmail.com>
Installed-Size: 13
Section: utils
Priority: optional
Homepage: https://github.com/danny-love/gittree
Description: A utility to display and query Git repositories
 This is a Python script that prints a tree-like view of files in a Git
 repository, filters based on patterns, and displays file contents.
